@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="oovent-dashboard-header">Dashboard</h1>

<div class="row oovent-dashboard-body">
    <div class="two columns">
        <p></p>
    </div>
    <div class="four columns oovent-dashboard-button">
        <button type="button">My Events</button>
    </div>
    <div class="four columns oovent-dashboard-button">
        <button type="button">My Schedule</button>
</div>
    <div class="two columns">
        <p></p>
    </div>
</div>