@model Oovent.Mvc.Models.Register.VmRegister
@{
    Layout = null;    
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/oovent.css" />
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/skeleton.css" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <center>
        <div class="container">          
            <div class="modal-header">
                <h2>Register</h2>
            </div>
            <div class="modal-body">
                <div class="row create-event-section">
                    @using (Html.BeginForm())
                    {
                    <div class="row create-event-form twelve columns">
                        <div class="three columns">
                            <p></p>
                        </div>
                        <div class="create-event-input three columns">
                            <label>Email</label>@Html.ValidationMessageFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email" })
                        </div>
                        <div class="create-event-input three columns">
                            <label>Password</label>@Html.ValidationMessageFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Password, new { placeholder = "Enter Password" })
                        </div>
                        <div class="three columns">
                            <p></p>
                        </div>
                    </div>
                    <div class="row create-event-form twelve columns">
                        <div class="four columns">
                            <p></p>
                        </div>
                        <div class="event-submit four columns">
                            <input type="submit" />
                        </div>
                        <div class="four columns">
                            <p></p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>  
    </center>
</body>
</html>
