@using Oovent.Mvc.Areas.Admin.Models.Events

@{
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}
    <center>
        <div class="container">
            <div class="row body twelve columns">
                <div class="row myevents-type twelve columns">
                    <form>
                        <div class="blank three columns">
                            <p></p>
                        </div>
                        <div class="me-type-event six columns">
                            <div class="me-type-button twelve columns" id="check-button">
                                <label>
                                    <input name="type" type="radio" checked><span>Events</span>
                                </label>
                            </div>
                        </div>
                        <div class="blank three columns">
                            <p></p>
                        </div>
                    </form>
                </div>

                <div class="row myevents-buttons twelve columns">
                    <div class="blank three columns">
                        <p></p>
                    </div>
                    <div class="me-button six columns">
                        <button>Add</button>
                    </div>
                    <div class="blank three columns">
                        <p></p>
                    </div>
                </div>

                <div class="row myevents-event-container twelve columns">

                    @{ 
                        foreach (string Name in CrudEvents.Name(User.Identity.Name))
                        {
                            <p>@Name</p>
                        }
                    }

                    <div class="row myevents-event-row twelve columns">
                        <div class="me-edit-delete two columns">
                            <div class="me-edit twelve columns"><button>Edit</button></div>
                            <div class="me-delete twelve columns"><button>Delete</button></div>
                        </div>
                        <div class="me-event-box three columns">
                            <div class="type-title">
                                <p>Event</p>
                            </div>
                        </div>
                    </div>
                    


                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>
                        <div class="row myevents-event-row twelve columns">
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://www.etsu.edu/news/2013/08_August/pictures/FarmersMarket8966bNewsItem.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Farmer's Market</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 1st 6:00 AM - 2:00 PM</p>
                                </div>
                            </div>
                            <div class="me-edit-delete two columns">
                                <div class="me-edit twelve columns"><button>Edit</button></div>
                                <div class="me-delete twelve columns"><button>Delete</button></div>
                            </div>
                            <div class="me-event-box three columns">
                                <div class="cost five columns">
                                    <div class="type-title">
                                        <p>Event</p>
                                    </div>
                                </div>
                                <div class="image seven columns">
                                    <img src="http://puu.sh/oXWwc/938d3253a5.jpg">
                                </div>
                                <div class="title twelve columns">
                                    <p>Founders After 5 Music Series- Trongone Band</p>
                                </div>
                                <div class="date twelve columns">
                                    <p>June 17 6:00 PM - 8:45 PM</p>
                                </div>
                            </div>
                            <div class="blank two columns">
                                <p></p>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </center>
</body>
</html>
