<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/oovent.css">
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="~/Static/Libraries/jquery-ui-1-12/themes/base/jquery-ui.css" />
    <script src="~/Static/Libraries/jquery.js"></script>
    <script src="~/Static/Libraries/jquery-ui-1-12/jquery-ui.js"></script>
</head>
<body class="body-whole">
    @RenderBody()
</body>
</html>
