<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/oovent.css">
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/skeleton.css">
</head>
<body>
    @RenderBody()
</body>
</html>
