.top-bar
{
    margin-bottom: -2px;
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-bar-create
{
    margin-bottom: 15px;
    margin-top: -19px;
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-radius: 10px;
}

.top-bar-profile
{
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-radius: 10px;
}

.logo
{
    margin: auto;
    text-align: center;
    float: left;
    height: 60px;
    width: 238px;
}

.top-button p
{
    color: #0080ff;
	margin-top: 10%;
    margin-bottom: 5%;
	font-size: 150%;
}

.body
{
	margin-top: -2px;
}

.filter
{
	width: 30%;
	height: 803px;
	border-style: solid;
	border-width: 2px;
	border-color: #0080ff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.filter p
{
	font-size: 130%;
	color: #0080ff;
}

.filter-title-type p
{
    margin-top: 5%;
    margin-bottom: -0%;
}

.filter-title-tag
{
    margin-top: 0%;
    margin-bottom: -0%;
}

.filter-title
{
    margin-top: 15%;
    margin-bottom: -0%;
}

.filter-title p
{
    margin-bottom: -0%;
}

.filter form
{
	font-size: 90%;
	color: #0080ff;
	padding: 2%;
}

.events p
{
	color: #0080ff;
    width: 90%;
}

.filter-info
{
    margin-top: 1%;
    height: 35px;
}

.date-filter
{
    margin-top: 3.5%;
    margin-bottom: -7%;
    height: 100px;
}

.date-filter p
{
    margin-top: -1.5%;
    font-size: 24px;
}

.search-div
{
    height: 50px;
}

.search-bar
{
	width: 250px; 
	height: 20px;
	margin-top: 2%;
}

.date-arrow-right
{
    float: left;
    margin-left: -8%;
}

.date-info
{
    margin-right: 7%;
    margin-left: -1%;
    margin-top: 0%;
}

.date-dropdown
{
    margin-left: -5%;
}

.date-filter
{
    margin-top: 2.7%;
}

.event-body
{
    width: 100%;
    height: 645px;
    overflow: auto;
}

.event-boxes-row
{
	margin-bottom: 3%;
}

.event-box
{
	height: 200px;
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-radius: 10px;
}

.cost
{
	height: 97.5px;
	width: 60px;
}

.title
{
	height: 48.75px;
	width: 200px;
}

.date
{
	height: 48.75px;
	width: 200px;
}

#cost-title
{
	margin-top: 9%;
	margin-bottom: 1%;
}

.cost p
{
    text-align: center;
	padding: 0px;
	font-size: 120%;
}

.title p
{
    text-align: center;
	padding: 0px;
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	font-size: 85%;
}

.date p
{
    text-align: center;
	padding: 0px;
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	font-size: 85%;
}

.image
{
    height: 50%;
    width: 100%;
}

.image img
{
	margin-top: -2px;
	margin-right: -2px;
	float: right;
	height: 100%;
	width: 100%;
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

#check-button 
{
    margin-top: 2px;
    width: 100%;
    height: 30px;
    border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
}

#check-button label 
{
    
}

#check-button label span 
{
    height: 30px;
    width: 100%;
    text-align: center;
    display: block;
}

#check-button label input 
{
    position: absolute;
    top: -40px;
}

#check-button input:checked + span 
{
    background-color: #0080ff;
    height: 26px;
    width: 100%;
    color: #fff;
}

#check-button:hover 
{
    background: #0080ff;
    color: #fff;
}

#tag-button 
{
    margin-top: 2px;
    height: 30px;
    border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
}

#tag-button label 
{
    
}

#tag-button label span 
{
    height: 30px;
    text-align: center;
    display: block;
}

#tag-button label input 
{
    position: absolute;
    top: -40px;
}

#tag-button input:checked + span 
{
    background-color: #0080ff;
    height: 26px;
    color: #fff;
}

.top-button-login
{
    margin: auto;
    height: 60px;
    float: right;
    position: relative;
    display: inline-block;
}



#login-button
{
    width: 100%;
    height: 60px;
    color: #0080ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 0px;
}

.top-button-login:hover #login-button
{
    color: #fff;
    background-color: #0080ff;
}


.top-button-check
{
    height: 60px;
    float: right;
    margin: auto;
}

.top-button-dropdown
{
    float: right;
    margin-top: 0px;
}

.top-button-check:hover #top-button
{
    color: #fff;
    background-color: #0080ff;
}

.top-button-check button
{
    width: 100%;
    height: 60px;
    color: #0080ff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    font-family: Arial;
    border: none;
    margin: auto;
    padding: 16px;
    border-radius: 0px;
}

.top-button-image
{
    float: left;
    margin: auto;
}

#tag-button:hover 
{
    background: #0080ff;
    color: #fff;
}

.dropbtn 
{
    width: 100%;
    height: 60px;
    color: #0080ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropdown 
{
    height: 60px;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: #0080ff;
    color: #fff;
}




















.top-bar-create-event
{
	border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
    border-radius: 10px;
}

.create-event-title
{
    height: 60px;
}

.create-event-title p
{
    margin-top: 10px;
    color: #0080ff;
    font-size: 30px;
}

.create-event-section p
{
    margin-bottom: 10px;
    color: #0080ff;
    font-size: 20px;
}

.create-event-hr hr
{
    margin-top: 0px;
    color: #0080ff;
}

.create-event-input-description textarea
{
    height: 120px;
    width: 400px;
    color: #0080ff;
}

.create-event-input-link input
{
    width: 400px;
    color: #0080ff;
}

.create-event-input input
{
    color: #0080ff;
}

.create-event-input-description label
{
    color: #0080ff;
}

.create-event-input-link label
{
    color: #0080ff;
}

.create-event-input label
{
    color: #0080ff;
}

.event-submit input
{
    color: #0080ff;
    margin-top: 30px;
}

.create-event-input-tag input
{
    width: 400px;
    color: #0080ff;
}

.create-event-input-tag label
{
    color: #0080ff;
}









.modal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: #0080ff;
    color: white;
}

.modal-body 
{
    padding: 2px 16px;
}

.modal-footer 
{
    padding: 2px 16px;
    background-color: #0080ff;
    color: white;
}

.modal-content 
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 10%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop 
{
    from {top: -300px; opacity: 0} 
    to {top: 10%; opacity: 1}
}

@keyframes animatetop 
{
    from {top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}

.close 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}







.create-event-category-label
{
    color: #0080ff;
}

.create-event-category
{
    color: #0080ff;
}

#check-button-create-event
{
    margin-top: 2px;
    height: 30px;
    border-style: solid; 
	border-width: 2px; 
	border-color: #0080ff;
}

#check-button-create-event label 
{
    
}

#check-button-create-event label span 
{
    height: 30px;
    text-align: center;
    display: block;
}

#check-button-create-event label input 
{
    position: absolute;
    top: -40px;
}

#check-button-create-event input:checked + span 
{
    background-color: #0080ff;
    height: 26px;
    color: #fff;
}

#check-button-create-event:hover 
{
    background: #0080ff;
    color: #fff;
}

.oovent-dashboard-header,
.oovent-dashboard-body
{
    text-align: center;
}