
@{
    ViewBag.Title = "DummyEvent";
}
<html>
    <body>
        <div class="container">
            <div class="row twelve columns oovent-event-header">
                <h2>The Event Is:  @ViewBag.EventName</h2>
            </div>
            <div class="row">
                <div class="two columns">
                    <p></p>
                </div>
                <div class="six columns">
                    <p>Here's the details:</p><br />
                    <p>@ViewBag.Content</p>
                </div>
            </div>
        </div>
    </body>
</html>