
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/oovent.css" />
    <link rel="stylesheet" type="text/css" href="~/Static/Styles/skeleton.css" />
    <script src="~/Static/Libraries/jquery-2-1-4/jquery-2.1.4.js"></script>
    <script src="~/Static/Libraries/jquery-validate/jquery.validate-1.8.0.1.js"></script>
    <script src="~/Static/Libraries/ms-unobstrusive/jquery.validate.unobtrusive-3.2.3.js"></script>    
</head>
<body>
    @RenderBody()
</body>
</html>
